{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sheets/css/chart.css' %}">
{% endblock %}

<section class="container">

    <section class="charts gva-charts page" id="gva">

        <div class="chart-heading">
            <h2 style="display:block;color: black;font-weight: 600;" class="agg-name-value">{{ agg_name|upper }}</h2>
            <div class="underline">&nbsp;</div>
        </div>

        <div class="btn-group">

            <!--Dropdown primary-->
            <div class="dropdown">

                <!--Trigger-->
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Select Sectors
                </button>


                <!--Menu-->
                <!---->
            </div>
            <!--/Dropdown primary-->
        </div>

        <div class="card">


            <!--<div class="container">-->
                <!--<div class="row stats">-->
                    <!--<div class="col-md-3 stat-chip">-->
                        <!--<div class="stat-value">-->
                            <!--<h2>180</h2>-->
                            <!--<p>Max GVA Value</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 stat-chip">-->
                        <!--<div class="stat-value">-->
                            <!--<h2>55%</h2>-->
                            <!--<p>% Increase in last year</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 stat-chip">-->
                        <!--<div class="stat-value">-->
                            <!--<h2>55%</h2>-->
                            <!--<p>% Increase in last year</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->



            <div class="row chart-all">
                <div class="col-md-8" id="chart-agg-container-timeSeries"></div>
                <div class="col-md-4" id="chart-agg-container-pie1"></div>
            </div>

        <!--<div class="card">-->
            <!--<div class="row chart-all">-->
                <!--<div class="col-md-6" id="gva-container-timeSeries2"></div>-->
                <!--<div class="col-md-6" id="gva-container-db2"></div>-->
            <!--</div>-->
        <!--</div>-->

            <div class="row chart-all">
                <div class="col-md-4" id="chart-agg-container-pie2"></div>
                <div class="col-md-8" id="chart-agg-container-db1"></div>
            </div>

        </div>
    </section>


</section>


{% block scripts %}



{% endblock %}