{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sheets/css/chart.css' %}">
{% endblock %}

<section class="container">

    <section class="charts gva-charts page" id="gva">

        <div class="chart-heading">
            <h2 style="display:block;color: black;font-weight: 600;" class="agg-name-value">{{ acc_name|upper }} {{ agg_name|upper }}</h2>
            <div class="underline">&nbsp;</div>
        </div>

        <div class="btn-group">

            <!--Dropdown primary-->
            <div class="dropdown">

                <!--Trigger-->
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Select Sectors
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Agriculture</a>
                    <a class="dropdown-item" href="#">Mining</a>
                    <a class="dropdown-item" href="#">Construction</a>
                    <a class="dropdown-item" href="#">Manufacturing</a>
                    <a class="dropdown-item" href="#">Gas, Electricity</a>
                    <a class="dropdown-item" href="#">Real Estate</a>
                    <a class="dropdown-item" href="#">Trade and Hotels</a>
                    <a class="dropdown-item" href="#">Transport and Storage</a>
                    <a class="dropdown-item" href="#">Financial Service</a>
                </div>

                <!--Menu-->
                <!---->
            </div>
            <!--/Dropdown primary-->
        </div>

        <!-- Basic dropdown -->
        <!--<button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"-->
          <!--aria-haspopup="true" aria-expanded="false">Basic dropdown</button>-->

        <!--<div class="dropdown-menu">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Separated link</a>-->
        <!--</div>-->
<!-- Basic dropdown -->

        <div class="card">


            <!--<div class="container">-->
                <!--<div class="row stats">-->
                    <!--<div class="col-md-3 stat-chip">-->
                        <!--<div class="stat-value">-->
                            <!--<h2>180</h2>-->
                            <!--<p>Max GVA Value</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 stat-chip">-->
                        <!--<div class="stat-value">-->
                            <!--<h2>55%</h2>-->
                            <!--<p>% Increase in last year</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 stat-chip">-->
                        <!--<div class="stat-value">-->
                            <!--<h2>55%</h2>-->
                            <!--<p>% Increase in last year</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->



            <div class="row chart-all">
                <div class="col-md-6" id="chart-acc-container-timeSeries"></div>
                <div class="col-md-6" id="chart-acc-container-pie1"></div>
            </div>

        <!--<div class="card">-->
            <!--<div class="row chart-all">-->
                <!--<div class="col-md-6" id="gva-container-timeSeries2"></div>-->
                <!--<div class="col-md-6" id="gva-container-db2"></div>-->
            <!--</div>-->
        <!--</div>-->

            <div class="row chart-all">
                <div class="col-md-4" id="chart-acc-container-pie2"></div>
                <div class="col-md-8" id="chart-acc-container-db1"></div>
            </div>



        </div>
    </section>


</section>


{% block scripts %}



{% endblock %}