{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sheets/css/chart.css' %}">
{% endblock %}

<section class="charts">
    <div class="container">
        <!--<div class="display-4">Graphs</div>-->
        <!--<div class="underline">&nbsp;</div>-->

        <div class="row">
            <div class="col-md-6">
                <div id="gen-stat-sub-1"></div>
            </div>
            <div class="col-md-6">
                <div id="gen-stat-sub-2"></div>
            </div>
        </div>

    </div>



</section>


{% block scripts %}
<script src="{% static 'sheets/js/chart-1.js' %}"></script>
{% endblock %}