{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sheets/css/chart.css' %}">
{% endblock %}

<section class="container">

    <section class="charts gva-charts page" id="gva">

        <div class="chart-heading">
            <h2 style="display:block;">GVA</h2>
            <div class="underline">&nbsp;</div>
        </div>

        <div class="card">


            <div class="container">
                <div class="row stats">
                    <div class="col-md-3 stat-chip">
                        <div class="stat-value">
                            <h2>180</h2>
                            <p>Max GVA Value</p>
                        </div>
                    </div>
                    <div class="col-md-3 stat-chip">
                        <div class="stat-value">
                            <h2>55%</h2>
                            <p>% Increase in last year</p>
                        </div>
                    </div>
                    <div class="col-md-3 stat-chip">
                        <div class="stat-value">
                            <h2>55%</h2>
                            <p>% Increase in last year</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row chart-all">
                <div class="col-md-8" id="gva-container-timeSeries"></div>
                <div class="col-md-4" id="gva-container-pie1"></div>
            </div>

        <!--<div class="card">-->
            <!--<div class="row chart-all">-->
                <!--<div class="col-md-6" id="gva-container-timeSeries2"></div>-->
                <!--<div class="col-md-6" id="gva-container-db2"></div>-->
            <!--</div>-->
        <!--</div>-->

            <div class="row chart-all">
                <div class="col-md-4 " id="gva-container-pie2"></div>
                <div class="col-md-8" id="gva-container-db1"></div>
            </div>

        </div>
    </section>

    <section class="charts nva-charts page" id="nva">


        <div class="chart-heading">
            <h2 style="display:block;">NVA</h2>
            <div class="underline">&nbsp;</div>
        </div>

        <div class="card">

            <div class="row chart-all">
                <div class="col-md-8" id="nva-container-timeSeries"></div>
                <div class="col-md-4" id="nva-container-pie1"></div>
            </div>
            <div class="row chart-all">
                <div class="col-md-4" id="nva-container-pie2"></div>
                <div class="col-md-8" id="nva-container-db1"></div>
            </div>
        </div>

    </section>


    <section class="charts indices-charts page" id="indices">

        <div class="chart-heading">
            <h2 style="display:block;">Indices</h2>
            <div class="underline">&nbsp;</div>
        </div>

        <div class="card">
            <div class="row chart-all">
                <div class="col-md-8" id="indices-container-timeSeries"></div>
                <div class="col-md-4" id="indices-container-pie1"></div>
            </div>
            <div class="row chart-all">
                <div class="col-md-4" id="indices-container-pie2"></div>
                <div class="col-md-8" id="indices-container-db1"></div>
            </div>
        </div>

    </section>
</section>


{% block scripts %}
    <script src="{% static 'sheets/js/custom-chart.js' %}"></script>
{% endblock %}