{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sheets/css/option.css' %}">
{% endblock %}

<section class="custom-graph" style="margin-top:50px;">
    <div class="container">
        <div class="accordion md-accordion" id="accordionEx" role="tablist"
             aria-multiselectable="true">

            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="mb-0">
                            Filter Menu <i class="fas fa-angle-down rotate-icon" style="float:right;"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                     data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="header-option row">
                            <div class="col-md-8">
                                <div class="md-form mt-0">
                                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                        <div class="row feature-header">
                            <div class="col-md-3 col-sm-12">
                                <div class="sidenav scroll sidenav-1">
                                    <ul class="feature-list level-1">
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="sidenav scroll sidenav-2">
                                    <ul class="feature-list level-2 level-2-none">
                                        <li>Option 2</li>
                                        <li>Option 2</li>
                                        <li>Option 2</li>
                                        <li>Option 2</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="sidenav scroll sidenav-3">
                                    <ul class="feature-list level-3 level-3-none">
                                        <li>Option 3</li>
                                        <li>Option 3</li>
                                        <li>Option 3</li>
                                        <li>Option 1</li>
                                        <li>Option 3</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="sidenav scroll sidenav-4">
                                    <ul class="feature-list level-4 level-4-none">
                                        <li>Option 4</li>
                                        <li>Option 4</li>
                                        <li>Option 4</li>
                                        <li>Option 4</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                        <li>Option 1</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!--Chips Section-->
        <div class="attr_chips">
            <div style="display:none;" class="chip">
                <span class="chip-text">Option1</span>
                <i class="fas fa-times"></i>
            </div>
        </div>


        <!--Graph Section-->
        <div class="row graph">
            <div class="col-md-6" id="container">

            </div>
        </div>

    </div>


</section>


{% block scripts %}
    <script src="{% static 'sheets/js/option.js' %}"></script>
    <script src="{% static 'sheets/js/custom-chart.js' %}"></script>
{% endblock %}