{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'sheets/css/option.css' %}">
{% endblock %}

<section class="option">
    <div class="header-option row">
        <div class="col-md-8"></div>
        
    </div>
    <div class="row feature-header">
        <div class="col-md-3">
            <div class="sidenav sidenav-1">
                <ul class="feature-list">
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidenav sidenav-2">
                <ul class="feature-list">
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidenav sidenav-3">
                <ul class="feature-list">
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidenav sidenav-4">
                <ul class="feature-list">
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                    <li>Option 1</li>
                </ul>
            </div>
        </div>
    </div>
</section>