
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<!-- Card -->
<div class="container">
    <section class="text-center my-5">

  <!-- Section heading --><div class="container">
  <h2 class="black-text h1-responsive font-weight-bold text-center my-5">Economic Aggregates</h2>
<div class="row">


    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(4.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Gross Value Added (GVA)</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Gross Domestic Product (GDP)</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold text-center">
              <strong style="text-align: center;">Gross Fixed Capital Formation (GFCF)</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row">


    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(4.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Gross Fixed Capital (GFC)</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Net Capital Stock (NCS)</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold text-center">
              <strong style="text-align: center;">Net Value Added</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div>
        <div class="row">


    <!-- Grid column -->

<div class="container">
    <section class="text-center my-5">

  <!-- Section heading --><div class="container">
  <h2 class="black-text h1-responsive font-weight-bold text-center my-5">Economic Activity</h2>
<div class="row">


    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(4.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Agriculture</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Mining</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold text-center">
              <strong style="text-align: center;">Construction</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row">


    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(4.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Manufacturing</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Gas,Electricity</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold text-center">
              <strong style="text-align: center;">Real Estate</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div><br><br>
        <div class="row">


    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(4.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Trade and hotels</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Transport,storage</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold text-center">
              <strong style="text-align: center;">Financial Services</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div>
     <div class="row">


    <!-- Grid column -->

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold">
              <strong>Public Administration</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(3.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold text-center">
              <strong style="text-align: center;">Others</strong>
            </h3>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fa fa-clone left"></i> Explore</a>
          </div>
        </div>
      </div>
    </div>
    </div>
<!-- Card -->
</div>
</body>
</html>