.charts {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.underline {
    border-top: 5px solid blue;
    width: 30px;
}

.card {
    /*border: 1px solid #0b2e13;*/
    margin-top: 50px;
    background-color: rgba(100,149,237, 0.1);
}

.chart-all {
    margin: 50px;
}