
.option {
    min-height: 50vh;
    background: lightgray;
}

.feature-header {
    height: 30vh;
}

.header-option {
    padding-top: 1rem;
    margin-bottom: 20px;
}

.md-form {
    width: 60%;
    margin: auto;
}

.sidenav {
    height: 100%;
    position: relative;
    overflow: auto;
}

.feature-list {
    height: 100%;
    position: absolute;
}

ul {
    width: 90%;
    display:block;
}

.feature-list li {
    margin-top: 0.2rem;
    text-align: left;
    list-style:none;
    cursor: pointer;

}

li:hover {
    /*background: blue;*/
}

.graph {
    margin-top: 4rem;
}


.scroll {
   width: 100%;
   height: 100%;
   overflow: scroll;
}

.scroll::-webkit-scrollbar {
    width: 12px;
}


.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* For selecting as graph value */
.selected {
    background: blue;
}

/* For going deep into roots */
.picked {
    background: orange;
}


.level-1-none {
    display: none;
}

.level-1-add {
    display: block;
}

.level-2-none {
    display: none;
}

.level-2-add {
    display: block;
}

.level-3-none {
    display: none;
}

.level-3-add {
    display: block;
}

.level-4-none {
    display: none;
}

.level-4-add {
    display: block;
}


.attr_chips {
    margin-top: 1rem;
}

.chip {
    display: inline-block;
    margin: 0.8rem;
    background: linear-gradient(to right, #9face6, #74ebd5);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.chip-text {
    margin-right: 8px;
}

.text {
    display: inline-block;
    width: 80%;
}

.next-arrow {
    display: inline-block;
    width: 15%;
    text-align: center;
}


.title
{
    width: 100%;
    display: block;
    line-height: 22px;
    padding: 4px 6px;
    color: #000;
    margin-bottom: 13px;
    clear:both;
}

.title .startYear{ float:right }
.title .endYear { float:left }


.year-slider {
    padding: 4rem;

    -webkit-box-shadow: 10px 10px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 18px -5px rgba(0,0,0,0.75);
}